:root {
    --izquierdo_superior: #00BBF5;
    --izquierdo_inferior:#1CFF57;
    --derecho_superior: #D5E825;
    --derecho_inferior: #D13CF5;
}

body {
    margin-top: 10px;
    height: 100vh;
}

.cojines {
    display: grid;
    grid-template-columns: 150px 0px 150px;
    grid-template-rows: 150px 0px 150px;
    align-items: flex-end;
    padding-top: 100px;
}

.centro-de-juego {
    position: relative;
}

.centro-de-juego div:nth-child(1){
    position: absolute;
    background-color: gray;
    height: 150px;
    width: 150px;
    top: -75px;
    left: -75px;
    border-radius: 50%;
    z-index: 200;
    /* display: none; */
}

.rebanadas_radio {
    height: 150px;
    width: 150px;
}

.rebanada_superior_izquierdo {
    border-radius: 100% 0 20% 0;
    background: var(--izquierdo_superior);
    
}

.rebanada_superior_derecho {
    border-radius: 0 100% 0 30%;
    background: var(--derecho_superior);
    
}

.rebanada_inferior_izquierdo {
    border-radius: 0 30% 0 100%;
    background: var(--izquierdo_inferior);
    
}

.rebanada_inferior_derecho {
    border-radius: 30% 0 100% 0;
    background: var(--derecho_inferior);
    
}

.supererior_izquierda_click {
    -webkit-box-shadow: -50px -50px 25px 50px var(--izquierdo_superior); 
    box-shadow: -50px -50px 25px 50px var(--izquierdo_superior);

    /* background: var(--izquierdo_superior);
    transform: scale(1.5);   
    filter: brightness(1.75); */
    
}

.supererior_derecha_click {
    -webkit-box-shadow: 50px -50px 25px 50px var(--derecho_superior); 
    box-shadow: 50px -50px 25px 50px var(--derecho_superior);
}

.inferior_izquierda_click {
    -webkit-box-shadow: -50px 50px 25px 50px var(--izquierdo_inferior); 
    box-shadow: -50px 50px 25px 50px var(--izquierdo_inferior);
    
}

.inferior_derecha_click {
    -webkit-box-shadow: 50px 50px 25px 50px var(--derecho_inferior); 
    box-shadow: 50px 50px 25px 50px var(--derecho_inferior);
    
}



.color_fallo {
    background: #a33324 !important;
    border: solid 2px #a33324 !important;
    transform: scale(1.5); 
}


.cuadro_simon {
    position: absolute;
    height: 0;
    width: 0;
    z-index: -10;
}


.nav-height {
    height: 20vh;
}

.circulo-central {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: beige;
    left: 100px;
    bottom: 200px;
}

.finalizado_1{
    display: none;
    position: relative;
    left: -200px;
}

.base-semaforo{
    position: relative;
    right: 180px;
    width: 30px;
}

.base-semaforo div {
    width: 30px;
    height: 30px;
}

.imagenes {
    height: 50vh;
    border-radius: 30px;
}

.imagenes img {
    display: none;
    border-radius: 100%;
    width: 100%;
    
}


/* animaciones */

.ganador-text{
    border-radius: 10px;
    background-color: var(--bs-success);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
     }
}
