@import "./bootstrap/bootstrap/scss/functions";

$enable-rounded: false;

$uno: #ff5e00;
$dos: #7af8ff;
$tres: #39ff14;
$cuatro: #fde802;

$enable-cssgrid: true;
@import "./bootstrap/bootstrap/scss/variables";

///////////////////////////////////////////////////////////////////

// 5. Include remainder of required parts
@import "./bootstrap/bootstrap/scss/maps";
@import "./bootstrap/bootstrap/scss/mixins";
@import "./bootstrap/bootstrap/scss/root";

// @mixin border-top-radius($radius: $border-radius) {
//   @if $enable-rounded {
//     border-top-left-radius: valid-radius($radius);
//     border-top-right-radius: valid-radius($radius);
//   }
// }

// 6. Optionally include any other parts as needed

@import "./bootstrap/bootstrap/scss/close";
@import "./bootstrap/bootstrap/scss/containers";
@import "./bootstrap/bootstrap/scss/buttons";
@import "./bootstrap/bootstrap/scss/modal";

@import "./bootstrap/bootstrap/scss/utilities";


$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans
);

$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              (
                "uno": $uno,
                "dos": $dos,
                "tres": $tres,
                "cuatro": $cuatro,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              $all-colors
            ),
        )
      ),
  )
);
// $utilities: map-merge(
//   $utilities, (
//     "rounded": map-merge(
//       map-get($utilities, "rounded"),
//       ( responsive: true ),
//     ),
//   )
// );
// $utilities: map-merge(
//   $utilities, (
//     "border-width": map-merge(
//       map-get($utilities, "border-width"),
//       ( responsive: true ),
//     ),
//   )
// );

// $utilities: map-merge(
//   $utilities, (
//     "color": map-merge(
//       map-get($utilities, "color"),
//       ( state: hover ),
//     ),
//   )
// );

@import "./bootstrap/bootstrap/scss/reboot";
@import "./bootstrap/bootstrap/scss/type";
@import "./bootstrap/bootstrap/scss/images";
@import "./bootstrap/bootstrap/scss/containers";
@import "./bootstrap/bootstrap/scss/grid";
@import "./bootstrap/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

@import "./bootstrap/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

///////////////////////////////////////////////////7

// $utilities: (
//     "width": (
//       property: width,
//       class: w,
//       values: (
//         25: 25%,
//         33: 33%,
//         50: 50%,
//         66: 66%,
//         75: 75%,
//         100: 100%,
//         auto: auto
//       )
//     )
// );

body {
  margin-top: 10px;
  height: 100vh;
  scrollbar-width: none;
  font-family: "Manufacturing Consent", system-ui;
}



.grid div {
  width: 200px;
  height: 200px;
  z-index: 0;
}

aside {
  margin-left: 15px;
}
audio {
  height: 25px;
  width: 220px;
  display: block;
}

.col-principal {
  height: 100vh;
}

.cojines {
  display: grid;
  grid-template-columns: 200px 0px 200px;
  grid-template-rows: 200px 0px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centro-de-juego {
  position: relative;
}

.centro-de-juego div:nth-child(1) {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  z-index: 200;
  /* display: none; */
}

.rebanadas_radio {
  height: 100%;
  width: 100%;
}

.rebanada_superior_izquierdo {
  border-radius: 100% 15% 20% 15%;
  background: var(--izquierdo_superior);
}

.rebanada_superior_derecho {
  border-radius: 15% 100% 15% 30%;
  background: var(--derecho_superior);
}

.rebanada_inferior_izquierdo {
  border-radius: 15% 30% 15% 100%;
  background: var(--izquierdo_inferior);
}

.rebanada_inferior_derecho {
  border-radius: 30% 15% 100% 15%;
  background: var(--derecho_inferior);
}

.supererior_izquierda_click {
  -webkit-box-shadow: -89px -89px 0px 24px var(--bs-uno);
  -moz-box-shadow: -89px -89px 0px 24px var(--bs-uno);
  box-shadow: -89px -89px 0px 24px var(--bs-uno);
}

.supererior_derecha_click {
  -webkit-box-shadow: 82px -82px 0px 24px var(--bs-dos);
  -moz-box-shadow: 82px -82px 0px 24px var(--bs-dos);
  box-shadow: 82px -82px 0px 24px var(--bs-dos);
}

.inferior_izquierda_click {
  -webkit-box-shadow: -89px 85px 0px 24px var(--bs-tres);
  -moz-box-shadow: -89px 85px 0px 24px var(--bs-tres);
  box-shadow: -89px 85px 0px 24px var(--bs-tres);
}

.inferior_derecha_click {
  -webkit-box-shadow: 82px 81px 0px 24px var(--bs-cuatro);
  -moz-box-shadow: 82px 81px 0px 24px var(--bs-cuatro);
  box-shadow: 82px 81px 0px 24px var(--bs-cuatro);
}

.boton {
  font-size: 20px;
}

.titulo {
  font-size: 30px;
}

.modal-main {
  height: 100%;
}

.mensaje-finalizacion {
  font-size: 50px;
}

.ganador-text {
  border-radius: 10px;
  font-size: 80px;
}

/* animaciones */

.mensaje-finalizacion div button {
  font-size: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}


@font-face {
  font-family: "Nigthmare";
  src: url("/assets/fuentes/Nightmare\ Codehack.otf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
